<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="shortcut icon" href="/static/images/iqvialogo.jpg" type="image/png">

  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <style>
    body {
      background-color: hsl(213, 97%, 57%); /* Your desired background color */
      margin: 0; /* Reset default body margin */
      padding: 0; /* Reset default body padding */
    }
  .heading-container {
    max-width: 80%; /* Adjust this value as needed */
  }
  
  .large-heading {
    font-size: 2rem; /* Adjust the font size as needed */
    line-height: 1.2; /* Adjust the line height as needed */
  }
  </style>
</head>
<body>
  
  <body>
  
    <section class="vh-100" style="background-color: hsl(213, 97%, 57%);">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col col-xl-10">
            <div class="card" style="border-radius: 1rem;">
              <div class="row g-0">
                <div class="col-md-6 col-lg-5 d-none d-md-block" style="background: url('/static/images/iqviaimagehome.jpg') center/cover; border-radius: 1rem 0 0 1rem;">
                  <!-- Image section ... -->
                </div>
                <div class="col-md-6 col-lg-7 d-flex align-items-center">
                  <div class="card-body p-4 p-lg-5 text-black">
                    {% if error_message %}
                    <p style="color: red">{{ error_message }}</p>
                    {% endif %}
                    <form method="post" > 
                      {% csrf_token %}  
                      <div class="d-flex align-items-center mb-3 pb-1">
                        <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                        <span class="h6 fw-bold mb-0 large-heading">Workbench</span>
                      </div>
    
                      <h7 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Enter your Login details:</h7>
    
                      <!-- Username input -->
                      <div class="form-group mb-4">
                        
                        <input type="text" placeholder="Username" name="username" class="form-control" required>
                        <!-- <label for="username" class="form-label" >Username</label> -->
                      </div>
    
                      <!-- Password input -->
                      <div class="form-group mb-4">
                        
                        <input type="password" placeholder="Password" name="password" class="form-control" required>
                        <!-- <label for="password" class="form-label">Password</label> -->
                      </div>
    
                      <div class="pt-1 mb-4">
                        <input type="submit"  value="Login"> 
                        <p class="mt-2"><a href="/">Go to Home Page</a></p>
                      </div>
    
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
  </body>
</html>