body {
  font-family: "Lato", sans-serif;
}

.back {
  background: #c54416;
  float: left;
  margin-right: 5px;
}

.main-head {
  height: 150px;
  background: #FFF;

}

.input-label {
  display: inline-block;
  width: 100px; /* Adjust the width as needed */
  vertical-align: top;
  margin-right: 10px; /* Adjust the margin as needed */
}

.login-form input[type="text"],
.login-form input[type="password"] {
  display: inline-block;
  width: calc(100% - 120px); /* Adjust the width considering label width and margin */
  margin-bottom: 15px; /* Add margin to create space between fields */
}
h1 {
  font-size: 28px; /* Adjust the font size as needed */
  font-weight: bold;
  margin-bottom: 10px; /* Add space between the title and heading */
}
.sub-heading {
  font-size: 10px; /* Adjust the font size as needed */
  /* font-weight: bold; */
  margin-top: 5px; /* Add space between the title and heading */
}
.login-main-text {
  margin-top: 5%; /* Adjust the margin-top value to position the heading higher */
  padding: 60px;
  color: #080707;
  margin-left: 70%;
}
.sidenav {
  height: 100%;
  background-image: url("/static/images/iqviaimagehome.39dd175608fd.jpg") ;
  background-size: cover;
  
  overflow-x: hidden;
  padding-top: 20px;
}


.main {
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
}

@media screen and (max-width: 450px) {
  .login-form {
    margin-top: 10%;
  }

  .register-form {
    margin-top: 10%;
  }
}

@media screen and (min-width: 768px) {
  .main {
    margin-left: 40%;
  }

  .sidenav {
    width: 40%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
  }

  .login-form {
    margin-top: 80%;
  }

  .register-form {
    margin-top: 20%;
  }
}


.login-main-text {
  margin-top: 10%;
  padding: 60px;
  color: #080707;
  margin-left: 70%;
}

.login-main-text h2 {
  font-weight: 300;
}

.btn-black {
  background-color: #09acf2 !important;
  color: #fff;
}

h1 {
  font-size: 36px;
  font-weight: bold;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li a {
  display: block;
  padding: 12px 24px;
  text-decoration: none;
  color: #000000;
  font-size: 18px;
}

li a:hover {
  background-color: #dddddd;

}

.architecure {

  margin-left: 350px;
  margin-top: 20px;
}

.info {
  margin-bottom: 20px;
  margin-left: 30px;
  margin-top: 20px;
}

.more {
  padding: 30px;
}